.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    z-index: 1;
    /*Animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 100px;
    object-fit: contain;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 40px;
    object-fit: contain;
}

.nav__black {
    background-color: #111;
}